.Carousel{
    display:flex;
    width: 100%;
}
.But{
    width: 100px;
    height: 100px;
}

.Carousel::-webkit-scrollbar {
    display: none;
}
  
.Carousel{
    -ms-overflow-style: none;
}

.card-body {
    min-height: 300px;
    min-width: 300px;
    margin-right: 5px;
}

.card {
    display:flex;
    width: 300px;
    height: 400px;
    padding-left: 100px;
    margin: 10px;
    display: inline-block;
}


.card:hover{
        transition-timing-function: ease-in-out;
        outline: 2px double blue;
        opacity: 3;
        width: 330px;
        height: 320px;
}

body{
    padding:50px 0px 0px 0px;
    z-index:0;
}

.navbar-dark {
     background-color: #512DA8;
}
.jumbotron {
    padding: 70px 30px 70px 30px;
    margin: 0px;
    background: #9575CD;
    color: floralwhite;
}